@charset "utf-8";
/* CSS Document */
body{ background-color:#F1F2F6; margin:0 10px;}
*{ margin:0; padding:0;}
.clear{ clear:both;}

/*数据字典*/
.sjzd{width:14%; float:left; margin-top:10px;background-color:#fff;}
.tree{ width:222px; height:40px; background-color:#4D5B68; color:#fff; line-height:47px; text-align:center; font-size:16px;}
.tree_menu{width:220px;border:solid 1px #E3E3E3;height:93%;}
.sjzdlist{width:84%; float:right; margin-top:10px;background-color:#fff;height:98%;}
/*角色权限设置*/
.jsqx{height:95%;background-color:#fff;}
.juese{ width:15%; float:left;border-right:solid 3px #EEEEEE;margin-top:10px;}
.juese_title{ width:100%; height:40px; background-color:#348FE2; line-height:40px; color:#fff;text-indent:15px;}
.juese ul{width:90%;margin:8px auto;}
.juese ul li{width:29%; float:left; margin-left:1%;text-align:center;}
.jsqx_cz{ width:84%; float:right;margin-top:10px;}
.caozuoqx{ width:59%; float:left;border-right:solid 3px #EEEEEE;}
.jueseyh{ width:40%; float:right;}
.di{background:url(../images/js_name.png) no-repeat;width:179px;height:20px;line-height:20px;margin:10px auto;}
.di a{color:#358FE5; padding-left:20px;}
.di_1{background:url(../images/js_name2.png) no-repeat;width:179px;height:20px;line-height:20px;margin:10px auto;}
.di_1 a{color:#666666;padding-left:20px;}
.qx_title{ width:90%;margin:5px auto;}
#cd_1,#cd_2{ float:left;text-align:center; line-height:0px;width:20%;}
.border_line{ border-bottom:solid 2px #578CDC;}
.border_line2{ border-bottom:solid 1px #C1C1C1;}
.jsyh{border-bottom:solid 1px #C1C1C1;line-height:30px;}
/*角色权限设置新增*/
.js_add{width:50%;float:left;margin-top:10px; margin-left:5%;}
.js_add2{width:30%;float:left;margin-top:10px; margin-left:5%;}
.js_add table{border-collapse:collapse;}
.js_add table tr td{border:solid 1px #EEEEEE; text-align:center;line-height:30px;}
.fgl{border-right:solid 2px #EEEEEE; float:left; margin:1% 0 0 5%;height:60%;}
.js_add2 ul{width:75%; height:60px; float:left;}
.js_add2 ul li{float:left; border-bottom:solid 1px #EEEEEE; height:30px; line-height:30px; width:40%;text-indent:20px;}
.js_addname{float:left;width:45%;height:24px;background-color:#E5E5E5; line-height:24px;text-indent:15px;margin-top:8px;}
.js_adddel{float:left;width:20px;height:20px;background-color:#f00;margin-top:10px;}
.js_adddel2{float:left;width:20px;height:20px;background-color:#E5E5E5;margin-top:10px;}

/*首页*/
.welcome{ position:absolute; z-index:-1; width:100%; height:auto;}


/*详情*/
.showinfo,.showinfo_list{width:95%; margin:10px auto;}
.showinfo_title{color:#fff;margin-left:10px;float:left;line-height:40px;font-size:14px;}
.showinfo table{border-collapse:collapse;}
.showinfo table tr td{border:solid 1px #EEEEEE; text-align:center;line-height:50px;font-size:13px;color:#333333;}

